    <!-- Filename: contact.ejs, By: Patrick Ross, Website Name: comp2068-w2016-midterm, Description: people page for the website -->
<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <main class="container">
        <h1>3 Favourite <%= title %> from Game of Thrones</h1>
        
        <div class="row">
 <div class="col-md-4 ">
     <h3>Daenerys Targaryen</h3>
   <img class="img-responsive" src="/Assets/daenerys.jpg" />
   <br/>
   <p>Daenerys is the only daughter of Aerys II Targaryen and Rhaella Targaryen.</p>
   <p>She is now a princess living in exile, the last of the Targaryens.</p>
        <p>Daenerys was born in the closing days of Robert's Rebellion after her father, "the mad king" had already been killed. Rhaella and her son Viserys, were evacuated to Dragonstone shortly before Aerys's death, where Rhaella gave birth to Daenerys in the midst of a violent storm that destroyed the remnants of the Targaryen fleet, leading to her moniker, Daenerys Stormborn. Her mother died giving birth.</p>

<p>Daenerys and Viserys were saved from capture by Ser Willem Darry and four other loyal men who were able to spirit them away to Braavos. Ser Willem looked after the children until he died several years later, and they were forced out into the streets. They wandered from city to city, ending up in Pentos, where Illyrio Mopatis took them in.
</p>
 </div>
 <div class="col-md-4">
     <h3>Arya Stark</h3>
   <img class="img-responsive" src="/Assets/arya.jpg" />
   <br/>
   <p>Arya Stark is the third child and second daughter of Lord Eddard Stark and Lady Catelyn Tully. A member of House Stark, she has five siblings: brothers Robb, Bran, Rickon, half-brother Jon Snow, and older sister Sansa. </p>
<p>In direct contrast to Sansa, Arya shows no interest in dancing, singing, and sewing, and revels in fighting and exploring, much to the chagrin of her mother and tutor Septa Mordane. She is particularly close to her bastard half-brother Jon Snow, who encourages her to learn to fight and gives her Needle (her sword). Throughout her travels, Arya displays great resourcefulness and cunning, and becomes increasingly ruthless.</p>
 </div>
 <div class="col-md-4">
     <h3>Tyrion Lannister</h3>
   <img class="img-responsive" class="img-circle" src="/Assets/tyrion.jpg" />
   <br/>
   <p> Tyrion Lannister is a major character in the first, second, third, fourth, fifth, and sixth seasons. He is played by starring cast member Peter Dinklage and debuts in the series premiere. Tyrion Lannister is the youngest son of Lord Tywin Lannister and younger brother of Cersei and Jaime Lannister. A dwarf, he uses his wit and intellect to overcome the prejudice he faces.</p>
 </div>
</div>


    </main>
<% include partials/footer.ejs %>
    
